<script>
import { mapActions, mapGetters } from "vuex"

export default {
  data() {
    return {
      loading: true
    }
  },

  computed: {
    ...mapGetters({
      form: "grades/getFormData",
      teams: "grades/getTeams",
      errors : "getValidationErrors",
    })
  },

  async created() {
    await this.getTeams()
    await this.getTeamGrades(this.form.team)
  },

  methods: {
    ...mapActions({
      getTeams: "grades/getTeams",
      getTeamGrades: "grades/getTeamGrades",
      saveTeamGrades: "grades/saveTeamGrades"
    }),

    addRow() {
      this.form.grades.push({
        key: '',
        grade: ''
      })
    },

    deleteRow(index) {
      this.form.grades.splice(index, 1)
      this.save()
    },

    async getTeamData() {
      await this.getTeamGrades(this.form.team)
    },

    async save() {
      if (this.form.team) {
        let response = await this.saveTeamGrades(this.form)
      }
    }
  }
}
</script>

<template>
  <div class="container my-5" id="grades-accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5
          class="mb-0 text-center text-uppercase"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Dropdown
        </h5>
      </div>

      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#grades-accordion"
      >
        <div class="card-body">
          <form>
            <!-- Team -->
            <div class="form-group">
              <label for="team" class="mr-2">Team:</label>

              <select
                name="team"
                id="team"
                class="form-control col-md-3"
                :class="{'is-invalid': errors.team }"
                v-model="form.team"
                @change="getTeamData"
              >
                <option value="">Select a team</option>
                <option
                  v-for="team in teams"
                  :key="team.id"
                  :value="team.id"
                >
                  {{ team.name }}
                </option>
              </select>

              <span v-if="errors.team" class="invalid-feedback" role="alert">
                {{ errors.team[0] }}
              </span>
            </div>

            <!-- Objective -->
            <div class="form-group">
              <label for="objective">Objective:</label>

              <input
                type="text"
                v-model="form.objective"
                class="form-control"
                :class="{'is-invalid': errors.objective }"
                id="objective"
                placeholder="Objective"
                @keydown="delete errors.objective"
              >

              <span v-if="errors.objective" class="invalid-feedback" role="alert">
                {{ errors.objective[0] }}
              </span>
            </div>

            <!-- Keys & Grades -->
            <div
              class="row"
              v-for="(grade, index) in form.grades"
              :key="index"
            >
              <!-- Key -->
              <div class="form-group col-md-7">
                <input
                  type="text"
                  v-model="grade.key"
                  class="form-control"
                  placeholder="Key"
                >
              </div>

              <!-- Grade -->
              <div class="form-group col-md-4">
                <input
                  type="number"
                  v-model.number="grade.grade"
                  class="form-control"
                  placeholder="Grade"
                >
              </div>

              <!-- Trash -->
              <div class="form-group col-md-1" v-if="index > 2">
                <button class="btn btn-danger" title="Delete" @click.prevent="deleteRow(index)">
                  <i class="material-icons" style="font-size: 16px;">delete</i>
                </button>
              </div>
            </div>

            <!-- Add New Row -->
            <div class="form-group text-center">
              <button class="btn btn-primary px-3 mt-3 font-weight-bold" @click.prevent="addRow">
                <i class="material-icons">add</i>
              </button>
            </div>

            <!-- Save -->
            <div class="form-group text-center">
              <button class="btn btn-success px-3 text-uppercase" @click.prevent="save">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
